<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{{ title }}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="/">Simple E-Commerce</a>
        <ul class="navbar-nav">
            {{#if isSeller }}
            <li class="nav-item">
                <a href="/seller" class="nav-link">Dashboard</a>
            </li>
            {{else if isBuyer}}
            <li class="nav-item">
                <a href="/buyer/cart">Cart</a>
            </li>
            {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {{#if user }}
                <span class="navbar-text">{{ user.firstName }} {{ user.lastName }}</span>
                <button form="logoutForm" class="btn btn-warning">Logout</button>
                <form id="logoutForm" action="/account/logout" method="post"></form>
                {{else}}
                <a href="/account/login" class="btn btn-primary">Login</a>
                {{/if }}
            </li>
        </ul>
    </nav>
    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {{{ _sections.scripts }}}
</body>

</html>