<div class="container">
    <h4>{{ product.name }}</h4>
    <p>{{ product.price }}</p>

    {{#if isBuyer }}
    <form action="/buyer/addToCart" method="post">
        <input type="hidden" name="productId" value="{{ product.id }}">
        <input type="number" name="quantity" value="1">

        <button class="btn btn-primary">Add to Cart</button>
    </form>
    {{else if isSeller }}
    {{else}}
    <p>Login to add to cart</p>
    {{/if}}
</div>